<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Former publicist, current developer, enchanted by technology that is "indistinguishable from magic".</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2012</h4>
                                    <h4 class="subheading">The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Fashion is a creative outlet that touches billions and could start cultural revolutions. I went to Drexel University to study fashion merchandising so I could pursue my passion.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2013</h4>
                                    <h4 class="subheading">The Numbers</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a brand specialist for a globally recognized arbiter of fashion, I fell in love with analyzing how and why we were succeeding. I loved visualizing data from sales reports, CRM, and brand development.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - 2015</h4>
                                    <h4 class="subheading">The Strategy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Moving into a managing role at a global communications agency, I learned to think and move quickly; adapting to a problem-solving mindset at the drop of a (on-trend!) hat. I lead teams, standardized processes, and cut out inefficient practices. Which led me to...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Refactoring</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Maybe fashion wasn't how I was going to show my creativity and affect the world. After dipping my toe into coding, I enrolled at Dev Bootcamp. Arthur C. Clarke's old adages ring true every day as programming empowers me to challenge the impossible.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Will you
                                    <br>Be Part Of
                                    <br>My Story?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
